<%= form_with(model: transaction) do |form| %>
    <% if @transaction.errors.any? %>
        <% @transaction.errors.full_messages.each do |message|%>
            <h3><%= message %> </h3>
        <%end%>
    <%end%>

    <%= form.label :name%>
    <%= form.text_field :name %><br><br>

    <%= form.label :amount %>
    <%= form.text_field :amount %><br><br>

    <%= form.submit %>
<% end %>